/* universal selector  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1440px;
    margin: auto;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    background-color: #170a2a;
}
.navlist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10%;
}
.navlist li{
    list-style: none;
}
.navlist a{
    text-decoration: none;
    color: white;
}
.navbar p{
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
}
#wave{
    font-style: linear-gradient(to right, rgb(155, 58, 32), rgb(201, 156, 11));
}

/* header background img  */
.header-bg{
    background-image:url(./assets/microphone.png) ,url(./assets/hero-circle.png), url(./assets/hero-bg.png);
    background-position:50% 35%,50% 30%,top center;
    background-repeat: no-repeat,no-repeat, repeat;
    background-size:10%, 22%, cover;
    min-height: 85vh;
    width: 100vw;
    position: relative;
}
.header-content{
    text-align: center;
    position: absolute;
    top: 70%;
    left:38%;
    color: white;
}