/* universal selector  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 10% 10%;
    background-color: #170a2a;
    color: white;
}
h2{
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 3%;
}
/* navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 10%;
    background-color: #170a2a;
}
.navlist{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 10%;
}
.navlist li{
    list-style: none;
}
.navlist a{
    text-decoration: none;
    color: white;
}
.navbar p{
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
}
#wave{
    font-style: linear-gradient(to right, rgb(155, 58, 32), rgb(201, 156, 11));
}

/* header background img  */
.header-bg{
    background-image:url(./assets/microphone.png) ,url(./assets/hero-circle.png), url(./assets/hero-bg.png);
    background-position:50% 35%,50% 30%,top center;
    background-repeat: no-repeat,no-repeat, repeat;
    background-size:10%, 22%, cover;
    min-height: 85vh;
    width: 100vw;
    position: relative;
}
.header-content{
    text-align: center;
    position: absolute;
    top: 70%;
    left:34%;
    color: white;
}
.header-content h1{
    font-size: 3.5rem;
    margin-bottom: 3%;
}
.header-content p{
    font-size: 1.3rem;
    margin-bottom: 3%;

}

/* podcast-content */
.podcast-content{
    text-align: center;
}
.podcast-content p{
    font-size: 1.35rem;
    padding-bottom: 3%;
}
.podcast-achivment{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin:2% 0%;
}
.podcast-achivment h3{
    font-size: 3.5rem;
    color: #00ff88;
}
.podcast-achivment p{
    font-size: 1.3rem;
    font-weight: 200;
}

/* techwave facilities */
.techwave-fecilities{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 20px;
    column-gap: 20px;
}
#techwave_fecilities_main{
    background-color: #230E3D;
    padding: 5% 10%;
}
#techwave_fecilities_main h2{
    text-align: center;
    color: white;
    font-size: 3rem;
    margin-bottom: 5%;
}
#sound{
    background-color: #351165;
    color: #ffffff;
    grid-column: span 2;
    grid-row: span 2;
    
}
#sound img{
    padding-top: 10%;

}
#mobile{
    grid-column: span 3;
    grid-row: span 1;
    background-color: #351165;
    color: #ffffff;
}
#community{
    background-color: #351165;
    color: #ffffff;
    grid-column: span 3;
    grid-row: span 1;
}
#rich{
    background-color: #351165;
    color: #ffffff;
    grid-column: span 2;
    grid-row: span 2;
}
#interview{
    background-color: #351165;
    color: #ffffff;
    grid-column: span 3;
    grid-row: span 2;
    
}
.fecilities-card{
    padding: 5%;    
    text-align: justify;
    border-radius: 10px;
}
.fecilities-card h3{
    font-size: 2rem;
    padding: 2% 0% 4% 0%;
}
.fecilities-card p{
    font-size: 1.3rem;
    font-weight: 100;
}